<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="asyncAppender" type="Inkript.Logging.AsynchronousAppender,Inkript" >
	<appender-ref ref="RollingFileAppender" />
	<appender-ref ref="traceAppender" />
	<fix>Partial</fix>
  </appender>

  <appender name="traceAppender" type="log4net.Appender.TraceAppender" >
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
	</layout>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
	<!--Edit the path of logs File-->
  <file value="C:\vrapilogs\VRAPILogs.txt" />
	<appendToFile value="true" />
	<rollingStyle value="Size" />
	<maximumFileSize value="100MB" />
	<maxSizeRollBackups value="3"/>
	<staticLogFileName value="true" />
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
	</layout>
  </appender>

  <root>
	<level value="DEBUG" />
	<appender-ref ref="asyncAppender" />
  </root>
  <logger name="NHibernate">
	<level value="OFF" />
  </logger>
  <logger name="NHibernate.SQL">
	<level value="OFF" />
  </logger>
</log4net>
