<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="inkriptSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="stampFee" type="System.Configuration.NameValueSectionHandler"/>
    <section name="paymentOrder" type="System.Configuration.NameValueSectionHandler"/>
    <section name="privateRUF" type="System.Configuration.NameValueSectionHandler"/>
    <section name="vehicleHolds" type="System.Configuration.NameValueSectionHandler"/>
    <section name="vehicleHoldsUpdate" type="System.Configuration.NameValueSectionHandler"/>
    <section name="allowedPlatesVehicles" type="System.Configuration.NameValueSectionHandler"/>
    <section name="allowedPlatesTrucks" type="System.Configuration.NameValueSectionHandler"/>
    <section name="activePlatesAPI" type="System.Configuration.NameValueSectionHandler"/>
    <section name="privateRUFDues" type="System.Configuration.NameValueSectionHandler"/>
    <section name="bpRUFDues" type="System.Configuration.NameValueSectionHandler"/>
    <section name="commit" type="System.Configuration.NameValueSectionHandler"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <stampFee>
    <add key="BaseUrl" value="http://localhost:5050/" />
    <add key="Resource" value="stampfee" />
  </stampFee>
  <commit>
    <add key="RoadUsageFees" value="21" />
    <add key="VRHoldsNew" value="42" />
    <add key="VRHoldsUpdate" value="43" />
  </commit>
  <vehicleHolds>
    <add key="BaseUrl" value="http://10.1.9.130:2018/" />
    <add key="ResourceNew" value="api/v1/VehicleHolds/Create" />
    <add key="ResourceUpdate" value="api/v1/VehicleHolds/Update" />
    <add key="VehicleHoldsResult" value="00-898" />
    <add key="HoldType" value="Mortgage" />
    <add key="LockCategory" value="Registration Lock" />
    <add key="Source" value="TTVMA" />
    <add key="DateFormat" value="yyyy-MM-ddTHH:mm:ss" />
  </vehicleHolds>
  <paymentOrder>
    <add key="BaseUrl" value="http://10.1.9.130:5511/" />
    <add key="Resource" value="api/SubmitMultipleOrders" />
    <add key="DateFormat" value="yyyy-MM-ddThh:mm:ss" />
    <add key="PaymentResult" value="00" />
  </paymentOrder>
  <activePlatesAPI>
    <add key="BaseUrl" value="http://ttvma-dev02:5002/" />
    <add key="Resource" value="api/Plates/ActivePlatesCount" />
    <add key="NameParameter" value="carUniqueNumber" />
    <add key="SuccessResult" value="00" />
  </activePlatesAPI>
  <allowedPlatesVehicles>
    <add key="Bus" value="2" />
    <add key="Truck" value="2" />
    <add key="Car" value="2" />
    <add key="Motorcycle" value="1" />
    <add key="Tractor" value="2" />
    <add key="PublicWorks" value="2" />
    <add key="HeavyEquipment" value="2" />
  </allowedPlatesVehicles>
  <allowedPlatesTrucks>
    <add key="Normal" value="2" />
    <add key="LocomotiveAndTrailer" value="3" />
    <add key="LocomotiveAndHalfTrailer" value="3" />
  </allowedPlatesTrucks>
  <privateRUF>
    <add key="BaseUrl" value="http://10.1.9.130:8055/" />
    <add key="Resource" value="api/PrivateRUF/PrivateLogRUFPayment" />
    <add key="PrivateRUFResult" value="00-898" />
  </privateRUF>
  <privateRUFDues>
    <add key="BaseUrl" value="http://10.1.9.130:8055/" />
    <add key="Resource" value="api/PrivateRUF/PrivateRufDues" />
    <add key="DateFormat" value="yyyy-MM-ddThh:mm:ss" />
    <add key="SuccessResult" value="00" />
  </privateRUFDues>
  <bpRUFDues>
    <add key="NeworImportedCarRegistration" value="1" />
    <add key="ResumeRoadUsage" value="2" />
    <add key="CarModificationWithoutChangeofOwnership" value="0" />
    <add key="UsedCarRegistration" value="1" />
  </bpRUFDues>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Inkript.VR.API-20171214105334;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Inkript.VR.API-20171214105334.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="days" value="120" />
    <add key="EndOfMonthExpiry" value="1" />
    <add key="SpecificDaysExpiry" value="10" />
    <add key="CarModificationBPId" value="3" />
    <add key="AllowedMargin" value="0.10" />
    <add key="VehiclePercentage" value="0.15" />
    <add key="blueBookValue" value="20000000" />
    <add key="MarginRate" value="1" />
    <add key ="DateFormat" value="dd/MM/yyyy" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>





  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
